
    body{
        background-color: Linear , 135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%)

    }

    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }


    div {
        display:flex;
      justify-content: center;
    }


