footer {
  text-align: center;
  background-color: #d2fdc4;
  position: sticky;
  bottom: 0px;
  padding: 2px;
}

header {
  position: sticky;
  top: 0px;
  padding: 15px;

  text-align: center;
  background-color: #d2fdc4;
}

body {
  background-color: #fdefc4;
}

.portrait {
  width: 40%;
  border-radius: 59% 41% 54% 46% / 72% 20% 80% 28%;
  padding: 2rem;
}

body {
  font-family: "Gruppo", sans-serif;
  font-weight: bold;
}
.copyright {
  width: 10px;
}

.aboutMe {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1rem;
  gap: 1rem;
  text-align: center;
  font-size: xx-large;
}

.section {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.callAction {
  display: flex;
  justify-content: flex-end;
}
