.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 20px;
  padding: 1fr;
}

.container {
  border: 2px solid #4caf50;
  border-radius: 5px;
  padding: 10px;
  background-color: #f9f9f9;
}
